<h1>Listando agentes</h1>

<table>
  <tr class="blue">
    <th>Nome</th>
    <th>Mat</th>
    <th>Turno</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agents.each do |agent| %>
  <tr>
    <td><%= agent.nome %></td>
    <td><%= agent.mat %></td>
    <td><%= agent.turno %></td>
    <td><%= link_to 'Mostrar', agent, :class => "label" %></td>
    <td><%= link_to 'Editar', edit_agent_path(agent), :class => "label" %></td>
    <td><%= link_to 'Deletar', agent, confirm: 'Tem certeza?', method: :delete, :class => "label" %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @agents %>

<br />

<%= link_to 'Cadastrar Agente', new_agent_path, :class => "label notice" %>
